<div class="en-meer">
  <h1>En meer!</h1>
  <p>
    Naast <em>70's rock & vinyl</em> hadden we nog meer geregeld waar je naar kan kijken en van kan genieten.
  </p>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Ruilbeurs</h2>

      <p>
        Achterin de zaal reserveerden we een plek voor een echte vinyl ruilbeurs!
        Daar kon je het pareltje dat je nog miste in je eigen collectie vinden, of je platen doneren waar je iemand mee blij wilde maken.
      </p>
    </div>

    <div class="col-xs-12 col-md-6">
      <h2>Peer Borgers' Pedalenmuseum</h2>

      <p>
        Een muziekevenement in Eindhoven kan niet gepaard gaan zonder Peer Borgers.
        Hij stond bekend om veel dingen: journalist bij het <a href="http://www.ed.nl" target="_blank">Eindhovens Dagblad</a>,
        gitarist bij bands als <em>Bo, The Rude</em>, <em>Bertus Borgers (Ik Hou Van Herman)</em> en zelfs <a href="/line-up/one-harry">One Harry</a>,
        maar misschien het bekendste aan hem was een passie voor gitaarpedalen. En die had hij. Veel. We zouden er een museum mee kunnen beginnen!
      </p>

      <p>
        En dat is precies wat we hebben gedaan!
      </p>

      <p>
        Achter in de zaal stonden enkele pedalen uit zijn collectie tentoongesteld. Kijk en geniet, zelfs al speel je geen gitaar is het mooi om naar te kijken.
        Op het podium stonden ook enkele "Peer Borgers items" want zijn zoon, Lody, nam ook nog het een en ander mee om op te spelen!
      </p>
    </div>
  </div>
</div>

