<div class="text-center">
  <h1>De line-up van <em>Planet Vintage!</em> 2016</h1>
</div>

<div class="line-up col-xs-12 col-md-7 col-lg-6">
  <!-- line-up -->
  <%- partial("../_partials/_line-up-acts") %>
</div>

<div class="vinyl col-xs-12 col-md-5 col-lg-6">
  <!-- vinyl -->
  <%- partial("../_partials/_line-up-vinyl") %>
</div>