.cta {
  .headline {
    h2 {
      margin: 75px 0;
    }
  }

  .sell {
    h2 {
      margin: 100px 0 75px;
    }
  }

  .btn {
      margin: 25px 0 75px;
      text-transform: uppercase;
      font-size: 24px;
      padding: 20px;

      em {
        color: color("text-emphasis-alternate");
      }
    }

  .description {
    p {
      font-size: 24px;
    }
  }

  .alternate-background-color {
    background-color: color("body-background-alternate");
  }

  .google-maps {
    display: none;
    margin-bottom: 75px;
  }

  .fake-maps-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
  }

  .fake-maps {
    background-image: url("../images/blue-collar-map.PNG");
    height: 350px;
    display: block;
    background-position: center;
    background-size: cover;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
  }

  @media (min-width: 760px) {
    .fake-maps-wrapper {
      display: none;
    }

    .google-maps {
      display: block;
    }
  }
}