// ********************************************************************
//
//                             Hero
//
// ********************************************************************

.hero {
  position: relative;
  background-color: color("hero-background");

  img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    width: 65%;
    height: auto;
  }

  .jumbotron {
    position: relative;
    z-index: 10;
  }
}