// ********************************************************************
//
//                             Settings
//
// ********************************************************************

// Table of Contents
// * Color

// ******************************************
//               Colour
// ******************************************
// *** Pallettes
$brown: #655643;
$orange: #E6AC27;
$red: #BF4D28;
$beige: #F6F7BD;
$blue: #80BCA3;

// *** Color maps
$colors: (
  "primary": $orange,
  "secondary": $red,
  "body-background": $brown,
  "body-background-alternate": $orange,
  "body-text": $beige,
  "link-text": $blue,
  "link-text-hover": $orange,
  "button-background": $orange,
  "button-border": $red,
  "hero-background": $orange,
  "footer-background": $orange,
  "image-border": $beige,
  "image-border-hover": $orange,
  "light": #FFFFFF,
  "dark": #000000
);

// *** Color functions
// Retrieve color from color map
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @else {
    @warn "#{$key} not found in color list.";
  }
}


// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(color("light"), color($color), $percentage);
}

// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(color("dark"), color($color), $percentage);
}