<div class="en-meer">
  <h1>En meer!</h1>
  <p>
    Naast <em>70's rock & vinyl</em> hebben we nog meer geregeld waar je naar kan kijken en van kan genieten.
  </p>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>Ruilbeurs</h2>

      <p>
        Achterin de zaal hebben we een plek gereserveerd voor een echte vinyl ruilbeurs!
        Vind hier het pareltje die je nog mist in je eigen collectie, of doneer hier platen waar je iemand mee blij wil maken.
      </p>
    </div>

    <div class="col-xs-12 col-md-6">
      <h2>Peer Borgers' Pedalenmuseum</h2>

      <p>
        Een muziekevenement in Eindhoven kan niet gepaard gaan zonder Peer Borgers.
        Hij stond bekend om veel dingen: journalist bij het <a href="http://www.ed.nl" target="_blank">Eindhovens Dagblad</a>,
        gitarist bij bands als <em>Bo, The Rude</em>, <em>Bertus Borgers (Ik Hou Van Herman)</em> en zelfs <a href="/line-up/one-harry">One Harry</a>,
        maar misschien het bekendste aan hem was een passie voor gitaarpedalen. En die had hij. Veel. We zouden er een museum mee kunnen beginnen!
      </p>

      <p>
        En dat is precies wat we zijn gaan doen.
      </p>

      <p>
        Achter in de zaal staan enkele pedalen uit zijn collectie tentoongesteld. Kijk, geniet, zelfs al speel je geen gitaar is het mooi om naar te kijken.
        Op het podium staan ook enkele "Peer Borgers items" want zijn zoon, Lody, neemt ook nog het een en ander mee om op te spelen!
      </p>
    </div>
  </div>
</div>

