<div class="en-meer">
  <h1>Vinyl markt</h1>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>
        Vorig jaar hadden we onze eigen vinyl ruilbeurs, dit jaar gaan we erover heen. Met behulp van <a href="http://www.groovinyl.nl" target="_blank">GrooVinyl</a>
        hebben we een echte vinyl markt binnen gehaald!
      </p>

      <p>
        GrooVinyl heeft een uitgebreid aanbod in de shop, zoals rock, pop, new wave en funk. Maar ook hiphop, soul en disco komen allemaal aan bod. Ook Maxi’s, 7” singles en een origineel assortiment aan vinylgoodies zijn te vinden in de shop! 
      </p>
    </div>

    <div class="col-xs-12 col-md-8">
      <img src="images/groovinyl.jpg" width=100% height="auto" />
    </div>
  </div>
</div>

