<!-- hero -->
<div class="hero">
  <img class="img-responsive no-border" src="images/planetvintage.png" />
</div>

<!-- content -->
<div class="container">
  <div class="cta row">
    <div class="col-xs-12 text-center headline">
      <h2>
        Maak dit jaar in het <a href="locatie">Blue Collar Theater</a> op Strijp-S 
        de eerste editie van het nieuwe vintage rock festival in Eindhoven plaats: <em>Planet Vintage!</em>
      </h2>
    </div>
  </div>
</div>

<div class="cta alternate-background-color">
  <div class="container">
    <div class="cta row">
      <div class="col-sm-12 description text-center">
        <p>
          Geniet van een avond vol rock & vinyl, zowel op het podium als op de ruilbeurs.
          Luister met een biertje in de hand naar de DJ of ga los bij <a href="line-up">een van de acts op het podium</a>!
        </p>

        <p>
          Waan je terug in de tijd in de zaal van het <a href="locatie">Blue Collar Theater</a>, 
          waar je aan de prachtige bar een drankje kan halen. En als het allemaal net wat te laat wordt, kan je in het <a href="http://www.bluecollarhotel.nl">Blue Collar Hotel blijven slapen</a>.
        </p>
      </div>
    </div>

    <div class="row sell">
      <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
        <h2>Stap in, en laat je meevoeren naar <em>Planet Vintage!</em></h2>
        <a class="btn btn-primary btn-lg btn-block" href="https://shop.ikbenaanwezig.nl/tickets/event/planet-vintage" target="_blank">
          Ik ben aanwezig!
        </a>
      </div>
    </div>
  </div>

  <div class="fake-maps-wrapper">
    <a class="fake-maps" href="https://www.google.com/maps?ll=51.448422,5.458736&z=16&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=5594699585480580771"></a>
  </div>

  <div id="google-maps" class="google-maps"></div>
</div>

<div class="social block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>
          Wil je meer <em>Planet Vintage!</em>, volg ons op
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/planetvintagerocks" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.twitter.com/planet_v_rocks" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/planetvintagerocks" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          </ul>
        </h1>
        <div class="fb-like" data-href="https://www.facebook.com/planetvintagerocks" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=269065230126208";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
