<!-- hero -->
<div class="hero">
  <img class="img-responsive" src="https://placeimg.com/1920/800/music/grayscale" />
  
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>Planet Vintage!</h1>
        <p>70's Rock & Vinyl - Tickets voor &euro; 6,50</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Koop hier tickets</a></p>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div class="container">
  <div class="cta row">
    <div class="col-xs-12 text-center">
      <h2>
        Dit jaar vindt in het <a href="locatie">Blue Collar Theater</a> op Strijp-S 
        de eerste editie van het nieuwe vintage rock festival in Eindhoven plaats: <em>Planet Vintage!</em>
      </h2>
    </div>

    <div class="col-sm-12">
      <h3>
        Geniet hier van een avond vol rock & vinyl, zowel op het podium als op de ruilbeurs. 
        Luister met een biertje in de hand naar de vinyl DJ of ga los bij <a href="line-up">een van de acts op het podium</a>!
      </h3>

      <h2 class="text-center">
        <a href="#">Stap in</a>, en laat je meevoeren naar <em>Planet Vintage!</em>
      </h2>
    </div>
  </div>

  <div class="social row">
    <div class="col-sm-12">
      <h3>
        Ik wil meer <a href="facebook.com">Planet Vintage!</a>
      </h3>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-6">
      <h3>Twitter</h3>
    </div>

    <div class="col-sm-12 col-md-7 col-lg-6">
      <h3>Instagram</h3>
    </div>
  </div>
</div>