<!-- hero -->
<div class="hero">
  <img class="img-responsive no-border" src="images/pv-logo-transp.png" />
</div>

<!-- content -->
<div class="container">
  <div class="cta row">
    <div class="col-xs-12 text-center sell">
      <h2>
        Maak dit jaar in het <a href="locatie">Blue Collar Theater</a> op Strijp-S 
        de eerste editie van het nieuwe vintage rock festival in Eindhoven plaats: <em>Planet Vintage!</em>
        
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-4 col-md-push-2 col-lg-push-4">
            <a class="btn btn-primary btn-lg btn-block" href="https://shop.ikbenaanwezig.nl/tickets/event/planet-vintage" target="_blank">
              Ik ben aanwezig
            </a>
          </div>
        </div>
      </h2>
    </div>
  </div>
</div>

<div class="cta alternate-background-color">
  <div class="fake-maps-wrapper">
    <a class="fake-maps" href="https://www.google.com/maps?ll=51.448422,5.458736&z=16&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=5594699585480580771"></a>
  </div>

  <div id="google-maps" class="google-maps">
    <!--<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ96Va-mrZxkcRo16YiaFdpE0&key=AIzaSyBU4G1fF_bSnuC63CmRUN4u-fR4d0vUaaE" allowfullscreen></iframe>-->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 description text-center">
        <h3>
          Geniet van een avond vol rock & vinyl, zowel op het podium als op de ruilbeurs. 
          Luister met een biertje in de hand naar de vinyl DJ of ga los bij <a href="line-up">een van de acts op het podium</a>!
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cta row">
    <div class="col-sm-12">
      <h2 class="text-center call">
        <a href="https://shop.ikbenaanwezig.nl/tickets/event/planet-vintage" target="_blank">Stap in</a>, en laat je meevoeren naar <em>Planet Vintage!</em>
      </h2>
    </div>
  </div>

  <div class="social row">
    <div class="col-sm-12">
      <h3>
        Ik wil meer <a href="facebook.com">Planet Vintage!</a>
      </h3>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-6">
      <p>Op Twitter: <a href="https://twitter.com/planet_v_rocks" target="_blank">@planet_v_rocks</a></p>
      <a  class="twitter-timeline"
          data-theme="light"
          data-link-color="#E6AC27"
          data-tweet-limit="5"
          data-chrome="transparent noheader nofooter noborders"
          href="https://twitter.com/lodybo">Op Twitter: @lodybo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-sm-12 col-md-7 col-lg-6">
      <p>Op Instagram: <a href="https://instagram.com/planetvintagerocks" target="_blank">@planetvintagerocks</a></p>
      <div id="instafeed"></div>
    </div>
  </div>
</div>

<!-- Load Instafeed -->
<script src="js/instafeed.min.js"></script>
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '3512518287',
        accessToken: '3512518287.c5a252a.97a000a8d97a44629df404b487e7c42f',
        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    userFeed.run();
</script>
