<!-- hero -->
<div class="hero">
  <img class="img-responsive no-border opacify" src="images/planetvintage-logo-transparent.png" />
</div>

<!-- content -->
<div class="container">
  <div class="cta row">
    <div class="col-xs-12 text-center headline">
      <h2>
        <em>Planet Vintage!</em> komt terug naar het <a href="locatie">Blue Collar Theater</a> op Strijp-S!
        Mis de tweede editie van h&#233;t vintage rock festival van Eindhoven niet en kom het beleven op <em>14 oktober 2017</em>
      </h2>

      <h4>Niet weten wat je kan verwachten? Bekijk de aftermovie van vorig jaar!</h4>
      <div class="fake-fb-aftermovie-wrapper">
        <a class="fake-fb-aftermovie" href="https://www.facebook.com/planetvintagerocks/videos/1632479373713610/"></a>
      </div>

      <div id="fb-aftermovie" class="fb-aftermovie"></div>
    </div>
  </div>
</div>

<div class="cta alternate-background-color">
  <div class="container">
    <div class="cta row">
      <div class="col-sm-12 description text-center">
        <p>
          Ga terug naar de 70's met een avond vol rock & vinyl. Bezoek onze <a href="en-meer">vinyl beurs</a>, 
          geniet van nostalgie met de platen die onze Planet Vintage! vinyl-koning <em>DJ Nebur</em> op zet, of ga uit je dak met onze <a href="line-up">line-up van de avond!</a>
        </p>

        <p>
          Terug in de prachtige zaal van het <a href="locatie">Blue Collar Theater</a>. En als het allemaal net wat te laat wordt, kan je in het <a href="http://www.bluecollarhotel.nl">Blue Collar Hotel blijven slapen</a>.
        </p>
      </div>
    </div>

    <div class="row sell">
      <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
        <h2>Stap in, en laat je meevoeren naar <em>Planet Vintage!</em></h2>
        <a class="btn btn-primary btn-lg btn-block" href="https://shop.ikbenaanwezig.nl/tickets/event/planet-vintage-14-10-2017" target="_blank">
          Ik ben aanwezig!
        </a>
        <p>
          De eerste 50 tickets krijgen <em>early bird korting</em>!
        </p>
      </div>
    </div>
  </div>

  <div class="fake-maps-wrapper">
    <a class="fake-maps" href="https://www.google.com/maps?ll=51.448422,5.458736&z=16&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=5594699585480580771"></a>
  </div>

  <div id="google-maps" class="google-maps"></div>
</div>

<div class="social block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>
          Ik wil meer <em>Planet Vintage!</em>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/planetvintagerocks" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.twitter.com/planet_v_rocks" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/planetvintagerocks" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
          </ul>
        </h1>
        <div class="row">
          <div class="col-xs-12 fb-like" data-href="https://www.facebook.com/planetvintagerocks" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=269065230126208";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
