<div class="teaser">
  <div class="copy">
    <h1>14 oct 2017</h1>
    <h2>More info coming soon!</h2>
    <h3>Hoor het als eerste op onze <a href="https://www.facebook.com/planetvintagerocks" target="_blank">Facebookpagina</a>!</h3>
  </div>
  
  <img id="logo-centered" class="img-responsive no-border opacify sticky bottom logo" src="images/planetvintage-logo-transparent.png" width="900" height="auto" />
</div>