<!-- hero -->
<div class="hero">
  <img class="img-responsive" src="images/pv-logo-transp.png" />
</div>

<!-- content -->
<div class="container">
  <div class="cta row">
    <div class="col-xs-12 text-center">
      <h2>
        Dit jaar vindt in het <a href="locatie">Blue Collar Theater</a> op Strijp-S 
        de eerste editie van het nieuwe vintage rock festival in Eindhoven plaats: <em>Planet Vintage!</em>
      </h2>
    </div>

    <div class="col-sm-12">
      <h3>
        Geniet hier van een avond vol rock & vinyl, zowel op het podium als op de ruilbeurs. 
        Luister met een biertje in de hand naar de vinyl DJ of ga los bij <a href="line-up">een van de acts op het podium</a>!
      </h3>

      <h2 class="text-center">
        <a href="#">Stap in</a>, en laat je meevoeren naar <em>Planet Vintage!</em>
      </h2>
    </div>
  </div>

  <div class="social row">
    <div class="col-sm-12">
      <h3>
        Ik wil meer <a href="facebook.com">Planet Vintage!</a>
      </h3>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-6">
      <p>Op Twitter: <a href="https://twitter.com/planet_v_rocks" target="_blank">@planet_v_rocks</a></p>
      <a  class="twitter-timeline"
          data-theme="light"
          data-link-color="#E6AC27"
          data-tweet-limit="5"
          data-chrome="transparent noheader nofooter noborders"
          href="https://twitter.com/lodybo">Op Twitter: @lodybo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-sm-12 col-md-7 col-lg-6">
      <p>Op Instagram: <a href="https://instagram.com/planetvintagerocks" target="_blank">@planetvintagerocks</a></p>
      <div id="instafeed"></div>
    </div>
  </div>
</div>

<!-- Load Instafeed -->
<script src="js/instafeed.min.js"></script>
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '3512518287',
        accessToken: '3512518287.c5a252a.97a000a8d97a44629df404b487e7c42f',
        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    userFeed.run();
</script>
