<p>
    De locatie van onze eerste editie vindt plaats in de theaterzaal van het <a href="http://www.bluecollarhotel.nl" target="_blank">Blue Collar Hotel</a>.
    De zaal met is uitgerust met een prachtige bar en verhoogd podium, en de burleske inrichting biedt een warme sfeer voor de hele avond!
</p>

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-6">
        <h2>Het Blue Collar Theater ligt..</h2>
        
        <ul>
            <li>600 meter van Trein station Beukenlaan / Strijp-S</li>
            <li>900 meter van Philips Stadion</li>
            <li>1,8 kilometer van het Beursgebouw</li>
            <li>3,8 kilometer van de Effenaar</li>
            <li>2,5 kilometer van Technische Universiteit Eindhoven</li>
            <li>2,6 kilometer van Eindhoven Centrum</li>
            <li>5 kilometer van de High Tech Campus</li>
            <li>8 kilometer van Eindhoven Airport</li>
            <li>Taxi Net <a href="tel:+31 (0)40 243 44 44">+31 (0)40 243 44 44</a></li>
        </ul>
        
        <p>
            Gelegen aan Strijp-S is het erg goed bereikbaar met de fiets, auto, of openbaar vervoer.
        </p>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-6">
        <!-- 9292 widget v1 -->
        <a href='//9292.nl/?naar=eindhoven_klokgebouw-10' data-9292='widget' data-9292-text='Planet Vintage!' data-9292-ref='eindhoven_klokgebouw-10' data-9292-width='320' data-9292-height='370' data-9292-api-key='d79aad6acc410460eb4c0952f3796a1b16456043896227bbeff7e621a226044c' data-9292-widget-key='2490535942f0bbce55271f483baa8012648ffb493eb2c7fce183182f258d5b81' data-style="1" data-targetblank="on">Plan mijn reis</a>
        <script src='//9292.nl/static/js/widget.js'></script>
    </div>
</div>