<h1>Locatie</h1>

<p>
    De locatie van onze eerste editie vindt plaats in de theaterzaal van het [Blue Collar Hotel](http://www.bluecollarhotel.nl).
    Het is een prachtige zaal, uitgevoerd met stijlelementen uit de jaren '30. Er is een prachtige bar waar je kunt genieten van de avond.
</p>

<img class="img-responsive" alt="Blue Collar Theater podium" src="/images/bluecollartheater.jpg" />

<p>
    Gelegen aan Strijp-S is het erg goed bereikbaar met de fiets, auto, of openbaar vervoer.
</p>

<div class="fake-maps-wrapper">
    <a class="fake-maps" href="https://www.google.com/maps?ll=51.448422,5.458736&z=16&t=m&hl=nl-NL&gl=US&mapclient=embed&cid=5594699585480580771"></a>
</div>

<div id="google-maps" class="google-maps"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>