<p>
    "70's Rock & Vinyl", herinner je je dat nog? <a href="/">Dat is wat we heel groot onder ons logo hebben staan</a>.
    En we voldeden daaraan met onze geweldige acts en de vinyl ruilbeurs. Maar weet je wat er nog miste?
</p>

<p>
    Juist ja: een vinyl DJ!
</p>

<h2>DJ Nebur de Lyon</h2>

<img class="img-responsive" src="/line-up/nebur.jpg" />

<p class="description">
    Luister naar 70's rock op de enige manier zoals het door luidsprekers zou moeten komen: vanaf vinyl!
    Eerder draaide onze vinyl DJ al bij Club Naaldwerk, deed hij de Kerstswing 2015 en opende hij 2016 met de Nieuwjaarsborrel in de Altstadt,
    nu neemt DJ Nebur de Lyon stapels langspeelplaten mee naar <em>Planet Vintage!</em> om de sfeer er goed in te krijgen. 
</p>

<p>
    Hij nam zijn plek in de spotlight tussen de bands in, en aan het einde van de avond verzorgde hij de <em>Planet Vintage! Afterparty</em>.
</p>