<h2>DJ Nebur de Lyon</h2>

<img class="img-responsive" src="/line-up/nebur.jpg" />

<p class="description">
    Wat is <em>Planet Vintage!</em> zonder vinyl? Niks! Daarom is vinyl-koning <em>DJ Nebur</em> terug om de zaal te vullen met zijn vinyl collectie.
    Eerder draaide hij al bij Club Naaldwerk, deed hij de Kerstswing 2015 en Nieuwjaarsborrel 2016 in de Altstadt, 
    en uiteraard heeft hij de sfeer er goed in gekregen bij <em>Planet Vintage! 2016</em>.
    
</p>

<p>
    DJ Nebur zal het muziek verzorgen tussen de acts door en tijdens de afterparty, die ingaat na <a href="line-up/tnsd">The Naked Sweat Drips</a>!
</p>