<p>
    "70's Rock & Vinyl", herinner je je dat nog? <a href="/">Dat is wat we heel groot onder ons logo hebben staan</a>.
    En we voldoen daaraan door geweldige acts te boeken en met onze vinyl ruilbeurs. maar weet je wat er nog mist?
</p>

<p>
    Juist ja: een vinyl DJ!
</p>

<h2>DJ Nebur de Lyon</h2>

<img class="img-responsive" src="/images/nebur.jpg" />

<p class="description">
    Ervaar de 70's rock op de enige manier zoals het gehoord zou moeten worden: afgespeeld door een DJ!
    Eerder draaide hij al bij Club Naaldwerk, deed hij de Kerstswing 2015 en opende hij 2016 met de Nieuwjaarsborrel in de Altstadt,
    nu neemt DJ Nebur de Lyon stapels platen mee naar <em>Planet Vintage!</em> om de sfeer er goed in te krijgen. 
</p>

<p>
    Hij neemt zijn plek in de spotlight tussen de bands in, en aan het einde van de avond mag hij de <em>Planet Vintage! Afterparty</em> verzorgen.
    Dus pak een biertje erbij, en geniet van de nostalgische klanken van jouw favoriete platen!
</p>