<div class="col-sm-12 col-md-5 col-lg-6">
  <p>Op Twitter: <a href="https://twitter.com/planet_v_rocks" target="_blank">@planet_v_rocks</a></p>
  <a  class="twitter-timeline"
      data-theme="light"
      data-link-color="#E6AC27"
      data-tweet-limit="5"
      data-chrome="transparent noheader nofooter noborders"
      href="https://twitter.com/lodybo">Op Twitter: @lodybo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>