<!Doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- navigation -->
    <%- partial("../_partials/_navigation") %>

    <div class="container">
      <div class="row">
        <div class="bandname col-xs-12">
          <div class="hero">
            <h1>Bandnaam</h1>
          </div>
        </div>

        <div class="bio col-xs-12 col-md-7 col-lg-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales metus sit amet est feugiat suscipit. Pellentesque viverra, dui consectetur iaculis condimentum, risus elit eleifend risus, eu laoreet mauris quam et justo. Aliquam fringilla convallis felis, a vehicula enim consequat vitae. Proin ac massa ante. Nam eu ultrices sem. Duis in consectetur neque. Nam egestas leo ornare, cursus eros id, efficitur elit.</p>

          <p>Etiam tristique eros tellus, nec condimentum est egestas ut. Pellentesque non efficitur orci, eget consequat dui. Proin rhoncus sapien massa, eu vehicula dolor sodales a. Nam ac eleifend quam, ac venenatis lacus. Maecenas varius sem mauris, eu ullamcorper eros maximus sit amet. Donec cursus nulla ut ligula suscipit, vitae tristique tortor vulputate. Phasellus rhoncus, nibh vel maximus faucibus, mauris elit euismod turpis, ac commodo enim lectus et dolor. Integer finibus sem in pharetra imperdiet. Nulla volutpat libero eget magna pulvinar hendrerit. Quisque tortor ipsum, sagittis et volutpat a, gravida sed sem. Pellentesque dictum commodo lacus ac iaculis. Donec vel dui eu leo sollicitudin fringilla. Aliquam nulla nunc, cursus eget sem et, posuere hendrerit lectus. Ut blandit velit et nisi feugiat posuere. Ut ultrices risus nisl, in ultricies mi imperdiet vitae. Aliquam accumsan luctus rutrum.</p>

          <p>Nulla commodo a est vel facilisis. Sed et justo ut nibh tempus varius. Nullam porta, lacus pretium condimentum venenatis, odio eros accumsan risus, ac aliquet sem odio vel elit. Vivamus fringilla ornare ipsum non eleifend. Sed vitae porttitor sapien. Ut consequat mauris at tellus vehicula imperdiet. Aenean ut ultricies tellus. Suspendisse potenti. Duis nunc ante, finibus at lacus sed, vulputate ornare orci. Proin aliquam nunc erat, ut bibendum eros imperdiet vel. In vitae lorem velit. Etiam aliquet cursus fermentum. Fusce vel ullamcorper tellus.</p>
        </div>

        <div class="media col-xs-12 col-md-7 col-lg-6">
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/8NOBTw3pESU' frameborder='0' allowfullscreen></iframe></div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- partial("../_partials/_footer") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>